{% extends 'projects/base.html' %}
{% load static %}
{% block content %}
  <!-- Header Section -->

  <!-- Main Section -->
  <main class="projects">
    <section class="hero-section text-center">
      <div class="container">
        <div class="hero-section__box">
          <h3>О нас </h3>
          <div class="text">
            <div class="img-static">
              <img src="{% static 'images/hair.jpg' %}" alt="DevSearch Logo" />
            </div>
            <div class="text-static">
              <p>Мы парикмахерская с большим спектром услуг
            и высококвалифицированными мастерами.
            Готовы предоставить Вам большой выбор услуг.
          Будьте красивы и всегда на стиле вместе с нами.</p>
              <p><u>Город: Жезказган</u></p>
              <p><u>Наш адрес: Проспект Мира 24</u></p>
              <p><u>Номер для связи: 8 777 111 11 11</u></p>
            </div>

        </div>
      </div>
        </div>
    </section>

    <!-- Search Result: DevList -->
    <section class="projectsList">
      <div class="container">
        <div class="grid grid--three">

          {% for project in projects %}
          <div class="column">
            <div class="card project">
              <a href="single-project.html" class="project">
                <img class="project__thumbnail" src="{{ project.foto_image.url }}" alt="project thumbnail" />
                <div class="card__body">
                  <h3 class="project__title">{{project.fio}}</h3>
                  <p class="project--rating">
                  </p>
                  <div class="project__tags">
                    {% for tag in project.tags.all %}
                    <span class="tag tag--pill tag--main">
                      <small>{{ tag }}</small>
                    </span>
                    {% endfor %}
                  </div>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section>
  </main>

{% endblock %}